<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- Enlaces a las bibliotecas -->
    <!------ CDN DataTables-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">

    <style>
        .formulario-container {

            max-width: 700px;
            /* Ajusta el valor según tus necesidades */
            width: 100%;
            margin: 0 auto;
        }
    </style>

    <title>editar usuarios</title>
</head>

<body>
    <nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-800 shadow-md">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/jacke.png" class="h-10" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Jacke nail</span>
            </a>
            <button data-collapse-toggle="navbar-solid-bg" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-solid-bg" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
                <ul
                    class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
                    <li>
                        <a href="http://localhost:3000/Ventas/ventas"
                            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Ventas
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/Ventas/usuarios"
                            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Usuarios
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/Ventas/servicios"
                            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Servicios</a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/Ventas/insumos"
                            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Insumos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container">
        <section class="bg-gray-50 dark:bg-gray-900">
            <div
                class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 formulario-container">
                <div
                    class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-sm xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        <h1
                            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center">
                            Nuevo editar</h1>
                        <form id="formularioUsuarios">
                            <div class="mb-4">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                    for="file_input"> Imagen del servicio: </label>
                                <input
                                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                    id="file_input" name="imagen" type="file" onchange="mostrarImagenSeleccionada(this)"
                                    enctype="multipart/form-data">
                            </div>
                            <div class="mb-3">
                                <label for="_id" class="form-label">ID</label>
                                <input type="text" class="form-control" id="_id" value="<%= resultado._id %>" readonly>
                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="mb-3">
                                        <label for="nombre_completo" class="form-label">Nombre Completo</label>
                                        <input type="text" class="form-control"
                                            value="<%= resultado ? resultado.nombre_completo : '' %>"
                                            id="nombre_completo">
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="mb-3">
                                        <label for="correo" class="form-label">Correo Electrónico</label>
                                        <input type="email" class="form-control" value="<%= resultado.correo %>"
                                            id="correo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="mb-3">
                                        <label for="documento" class="form-label">Documento</label>
                                        <input type="text" class="form-control" value="<%= resultado.documento %>"
                                            id="documento">
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="mb-3">


                                        <label for="telefono" class="form-label">Teléfono</label>
                                        <input type="tel" class="form-control" value="<%= resultado.telefono %>"
                                            id="telefono">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="estado" class="form-label">Estado</label>
                                        <input type="text" class="form-control" value="<%= resultado.estado %>"
                                            id="estado">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="rol" class="form-label">Rol</label>
                                        <select name="rol"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                            id="rol">
                                            <option value="<%= resultado.rol %>">
                                                <%= getRolNombre(resultado.rol) %>
                                            </option>
                                            <% for (let valorRol=1; valorRol <=3; valorRol++) { %>
                                                <% if (valorRol !==resultado.rol) { %>
                                                    <option value="<%= valorRol %>">
                                                        <%= getRolNombre(valorRol) %>
                                                    </option>
                                                    <% } %>
                                                        <% } %>
                                        </select>
                                        <% function getRolNombre(rolValor) { const rolesMap={ 1: 'Administrador' ,
                                            2: 'Empleado' , 3: 'Cliente' }; return rolesMap[rolValor] || 'Desconocido' ;
                                            } %>
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary"
                                onclick="guardarCambios(event)">Enviar</button>
                            <button type="reset" class="btn btn-secondary">Restablecer</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script>



        function guardarCambios(event) {
            // Prevenir el comportamiento predeterminado del formulario (evitar el refresco de la página)
            event.preventDefault();


            // Utiliza SweetAlert en lugar de la alerta predeterminada
            Swal.fire({
                title: '¿Estás seguro?',
                text: '¿Estás seguro de que deseas actualizar los datos del servicio?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, actualizar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {

                    // Obtén los datos del formulario
                    const formData = new FormData(document.getElementById('formularioUsuarios'));
                    const nombreCompleto = document.getElementById('nombre_completo').value;
                    const correo = document.getElementById('correo').value;
                    const documento = document.getElementById('documento').value;
                    const telefono = document.getElementById('telefono').value;
                    const estado = document.getElementById('estado').value;
                    const rol = document.getElementById('rol').value;
                    const imagenInput = document.getElementById('file_input');
                    const imagen = imagenInput.files[0];

                    if (!nombreCompleto || !correo || !documento || !telefono || !estado || !rol) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Por favor, completa todos los campos',
                        });
                        return; // Detener la ejecución si hay campos vacíos
                    }

                    // Validar caracteres especiales en el nombre
                    const nombreRegex = /^[a-zA-Z\s]+$/;
                    if (!nombreRegex.test(nombreCompleto)) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'El nombre no debe contener caracteres especiales ni números',
                        });
                        return; // Detener la ejecución si hay caracteres especiales en el nombre
                    }

                    // Validar que el documento y el teléfono contengan solo números
                    const numRegex = /^[0-9]+$/;
                    if (!numRegex.test(documento) || !numRegex.test(telefono)) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'El documento y el teléfono deben contener solo números',
                        });
                        return; // Detener la ejecución si hay caracteres no numéricos en documento o teléfono
                    }

                    // Crear un objeto con los datos del formulario
                    var datosUsuario = {
                        nombreCompleto,
                        correo,
                        documento,
                        telefono,
                        estado,
                        rol
                    };
                    // Realiza una solicitud PUT al servidor para actualizar los datos del servicio
                    fetch(`http://localhost:3000/Ventas/usuarios/actualizarusuario/<%= resultado._id %>`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(datosUsuario),
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Utiliza SweetAlert en lugar de la alerta predeterminada
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: 'Datos actualizados correctamente',
                            }).then(() => {
                                // Redirige a la página deseada
                                window.location.href = 'http://localhost:3000/Ventas/usuarios';
                            });

                            console.log(data);
                        })
                        .catch(error => {
                            console.error('Error:', error);

                            // Utiliza SweetAlert para mostrar un mensaje de error
                            Swal.fire({
                                icon: 'error',
                                title: '¡Error!',
                                text: 'Hubo un problema al actualizar los datos',
                            });
                        });
                }
            });
        }


    </script>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>


</body>

</html>